<aside id="main">
	<nav>
		<ul>
			<li>
				<a href="/home/userlist">
					<img src="/img/icon_menu_summary.png"/>
					<h1>Users</h1>
				</a>
			</li>
			<li>
				<a href="/home/rpmlist">
					<img src="/img/icon_menu_diagnostic.png"/>
					<h1>RPM</h1>
				</a>
			</li>
		</ul>
	</nav>
</aside>
	