<aside id="sidebar-wrapper">
	<nav>
		<ul>
			<li>
				<a href="/home/userlist">
					<img src="/img/icon_menu_summary.png"/>
					<h1>USERS</h1>
				</a>
			</li>
			<li>
				<a href="/home/rpmlist">
					<img src="/img/icon_menu_diagnostic.png"/>
					<h1>RPM</h1>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/icon_menu_trouble_codes.png"/>
					<h1>TROUBLE CODES</h1>
				</a>
			</li>
			<li>
				<a href="http://www.nevisco.com/" target="_blank">
					<img src="/img/nevisco.png"/>
					<h1>Nevisco</h1>
				</a>
			</li>
		</ul>
	</nav>
</aside>
	