<header data-toggle="affix">
	<div class="col">
		<a href="#menu-toggle" class="icon-menu" id="menu-toggle"><i class="material-icons">menu</i></a>
	</div>
	<div class="col">
		<img src="/img/logo_nevisca.png" class="logo" />
	</div>
	<div class="col pull-right">
		<!-- <form class="navbar-form" role="search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
				<div class="input-group-btn">
					<button class="btn" type="submit"><i class="material-icons">search</i></button>
				</div>
			</div>
		</form> -->
		<!-- <div class="col-sm-3 col-md-3 pull-right"></div> -->
	</div>
	<div class="col">
		<nav class="desktop">
			<ul>
				<li>
					<a href="#">
						<img src="/img/icon_menu_user_white.png"/> 
						<h1>Username</h1>
					</a>
				</li>
				<!-- <li>
					<a href="#">
						<img src="img/icon_menu_login_white.png"/>
						<h1>Login</h1>
					</a>
				</li> -->
				<li>
					<a href="/account/logout">
						<img src="/img/icon_menu_logout_white.png"/>
						<h1>Logout</h1>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>