<header>
			<img src="/img/logo_nevisca.png" class="logo" />
			<nav class="desktop">
				<ul>
					<li>
						<a href="#">
							<img src="/img/icon_menu_user_white.png"/> 
							<h1>Username</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_login_white.png"/>
							<h1>Login</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_logout_white.png"/>
							<h1>Logout</h1>
						</a>
					</li>
				</ul>
			</nav>
			<nav class="mobile">
				<div id="toggle-menu">
					<img src="/img/menu.png" />
				</div>
				<ul>
					<li>
						<a href="#">
							<img src="/img/icon_menu_summary.png"/>
							<h1>SUMMARY</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_diagnostic.png"/>
							<h1>DIAGNOSTIC</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_trouble_codes.png"/>
							<h1>TROUBLE CODES</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_readings.png"/>
							<h1>READING</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_connection.png"/>
							<h1>CONNECTION</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_settings.png"/>
							<h1>SETTING</h1>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/icon_menu_help.png"/>
							<h1>HELP</h1>
						</a>
					</li>
					<li class="mobile">
						<a href="#">
							<img src="/img/icon_menu_user.png"/>
							<h1>Username</h1>
						</a>
					</li>
					<li class="mobile">
						<a href="#">
							<img src="/img/icon_menu_logout.png"/>
							<h1>Logout</h1>
						</a>
					</li>
					<li class="mobile">
						<a href="#">
							<img src="/img/icon_menu_login.png"/>
							<h1>Login</h1>
						</a>
					</li>
				</ul>
			</nav>
		</header>